In [169]:
# Import dependencies
import pandas as pd

In [170]:
# Import our first dataset (USAF data from new website, aviation archaeology)
file_path = "/Users/clarapotts/Desktop/Capstone_Project copy/Capstone Project/Datasets/Raw/Vietnam_USAF_Losses_Raw_Data.csv"
usaf_df = pd.read_csv(file_path)
usaf_df.head()

                                            All_Info
0  Crash Date:620202Crash Time:_Aircraft Type:C-1...
1  Crash Date:620211Crash Time:_Aircraft Type:SC-...
2  Crash Date:620613Crash Time:_Aircraft Type:T-2...
3  Crash Date:620828Crash Time:_Aircraft Type:T-2...
4  Crash Date:621015Crash Time:_Aircraft Type:U-1...

In [171]:
# Want to split single column into multiple using ':' but a few field names have no ':' after them so adding here.
# Also cleaning up some other field names so split doesn't cause problems.
to_replace = ["Call Sign", "Mission Type", "Where Hit", "Pilot Egress", "Pilot Status", "Pilot Condition",
             "Pilot Recovered", "Co-Pilot/Nav Rank", "Co-pilot/Nav", "Co-Pilot/Nav Egress", "Co-Pilot/Nav Status",
             "Co-Pilot/Nav Condition", "Co-Pilot/Nav Recovered"]
replace_with = ["Call_Sign:", "Mission_Type:", "Where_Hit:", "PILOT_EGRESS", "PILOT_STATUS", "PILOT_CONDITION",
               "PILOT_RECOVERED", "CP_NAV_RANK", "CP_NAV", "CP_EGRESS", "CP_STATUS",
               "CP_CONDITION", "CP_RECOVERED"]


usaf_df = usaf_df.replace(to_replace, replace_with, regex=True)

In [172]:
# Now to make all field names disappear.
to_replace = ["Crash Date", "Crash Time", "Aircraft Type", "Aircraft S/N", "Base", "Wing", "Squadron", "Call_Sign",
              "Operations Code", "Mission_Type", "Weapon", "Target Objective", "Ceiling/Vis", "JCS NR", "Route Pack",
              "Maneuver", "Pass", "Angle", "Altitude", "Airspeed", "Mission Phase", "Where_Hit", "Fire Observed",
              "Hit Country", "Hit Longitude", "Hit Latitude", "Loss Country", "Loss Longitude", "Loss Latitude",
              "Defense Type", "Pilot Hit", "Pilot Rank", "Pilot", "PILOT_EGRESS", "PILOT_STATUS", "PILOT_CONDITION",
              "PILOT_RECOVERED", "CP_NAV_RANK", "CP_NAV", "CP_EGRESS", "CP_STATUS",
              "CP_CONDITION", "CP_RECOVERED"]

replace_with = ""
              
usaf_df = usaf_df.replace(to_replace, replace_with, regex=True)

In [173]:
# Breaking the dataframe into different columns
usaf_df = usaf_df['All_Info'].str.split(':', expand=True)

usaf_df.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,,620202,_,C-123B,564370,TSN,464TCW,_,_,IC,...,Crash,KIA,_,_,Capt,Larsen R. D.,Crash,KIA,_,_
1,,620211,_,SC-47A,4315732,BHA,_,4400CCTS,_,IC,...,Crash,KIA,_,_,Capt,Hartson S. G.,Crash,KIA,_,_
2,,620613,_,T-28B,0,_,_,_,_,IC,...,_,Recovered,Uninjured,_,u,_,_,_,_,_
3,,620828,_,T-28B,538376,_,_,_,_,IC,...,_,KIA,_,_,Capt,_,_,_,_,_
4,,621015,_,U-10,625909,_,_,_,_,IC,...,Crash,KIA,_,_,Capt,Foxx R. L.,Crash,KIA,_,_

In [174]:
# Drop column '0' since no data contained here.
usaf_df.drop(columns={0}, inplace=True)
usaf_df.head()

,1,2,3,4,5,6,7,8,9,10,...,34,35,36,37,38,39,40,41,42,43
0,620202,_,C-123B,564370,TSN,464TCW,_,_,IC,,...,Crash,KIA,_,_,Capt,Larsen R. D.,Crash,KIA,_,_
1,620211,_,SC-47A,4315732,BHA,_,4400CCTS,_,IC,,...,Crash,KIA,_,_,Capt,Hartson S. G.,Crash,KIA,_,_
2,620613,_,T-28B,0,_,_,_,_,IC,,...,_,Recovered,Uninjured,_,u,_,_,_,_,_
3,620828,_,T-28B,538376,_,_,_,_,IC,,...,_,KIA,_,_,Capt,_,_,_,_,_
4,621015,_,U-10,625909,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Foxx R. L.,Crash,KIA,_,_

In [175]:
# Renaming the columns columns.
usaf_df.columns=["Crash_Date", "Crash_Time", "Aircraft_Type", "Aircraft_SN", "Base", "Wing",
                                     "Squadron", "Call_Sign", "Operations_Code", "Mission_Type", "Weapon", "Target_Objective",
                                     "Ceiling_Vis", "JCS_NR", "Route_Pack", "Maneuver", "Pass", "Angle", "Altitude",
                                     "Airspeed", "Mission_Phase", "Where_Hit", "Fire_Observed", "Hit_Country",
                                     "Hit_Longitude", "Hit_Latitude", "Loss_Country", "Loss_Longitude", "Loss_Latitude",
                                     "Defense_Type", "Pilot_Hit", "Pilot_Rank", "Pilot", "Pilot_Egress", "Pilot_Status",
                                     "Pilot_Condition", "Pilot_Recovered", "Co_Pilot_Nav_Rank", "Co_Pilot_Nav",
                                     "Co_Pilot_Nav_Egress", "Co_Pilot_Nav_Status", "Co_Pilot_Nav_Condition",
                                     "Co_Pilot_Recovered"]

usaf_df.head()

,Crash_Date,Crash_Time,Aircraft_Type,Aircraft_SN,Base,Wing,Squadron,Call_Sign,Operations_Code,Mission_Type,...,Pilot_Egress,Pilot_Status,Pilot_Condition,Pilot_Recovered,Co_Pilot_Nav_Rank,Co_Pilot_Nav,Co_Pilot_Nav_Egress,Co_Pilot_Nav_Status,Co_Pilot_Nav_Condition,Co_Pilot_Recovered
0,620202,_,C-123B,564370,TSN,464TCW,_,_,IC,,...,Crash,KIA,_,_,Capt,Larsen R. D.,Crash,KIA,_,_
1,620211,_,SC-47A,4315732,BHA,_,4400CCTS,_,IC,,...,Crash,KIA,_,_,Capt,Hartson S. G.,Crash,KIA,_,_
2,620613,_,T-28B,0,_,_,_,_,IC,,...,_,Recovered,Uninjured,_,u,_,_,_,_,_
3,620828,_,T-28B,538376,_,_,_,_,IC,,...,_,KIA,_,_,Capt,_,_,_,_,_
4,621015,_,U-10,625909,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Foxx R. L.,Crash,KIA,_,_

In [176]:
# Checking for any nulls
usaf_df.isnull().any()

Crash_Date                False
Crash_Time                False
Aircraft_Type             False
Aircraft_SN               False
Base                      False
Wing                      False
Squadron                  False
Call_Sign                 False
Operations_Code           False
Mission_Type              False
Weapon                    False
Target_Objective          False
Ceiling_Vis               False
JCS_NR                    False
Route_Pack                False
Maneuver                  False
Pass                      False
Angle                     False
Altitude                  False
Airspeed                  False
Mission_Phase             False
Where_Hit                 False
Fire_Observed             False
Hit_Country               False
Hit_Longitude             False
Hit_Latitude              False
Loss_Country              False
Loss_Longitude            False
Loss_Latitude             False
Defense_Type              False
Pilot_Hit                 False
Pilot_Rank                False
Pilot                     False
Pilot_Egress              False
Pilot_Status              False
Pilot_Condition           False
Pilot_Recovered           False
Co_Pilot_Nav_Rank         False
Co_Pilot_Nav              False
Co_Pilot_Nav_Egress       False
Co_Pilot_Nav_Status       False
Co_Pilot_Nav_Condition    False
Co_Pilot_Recovered        False
dtype: bool

In [177]:
# Looking for empty string rows (rows with no data but not picked up as nulls) so we can delete.
usaf_df.loc[usaf_df["Crash_Date"] == ''].count()

Crash_Date                30
Crash_Time                30
Aircraft_Type             30
Aircraft_SN               30
Base                      30
Wing                      30
Squadron                  30
Call_Sign                 30
Operations_Code           30
Mission_Type              30
Weapon                    30
Target_Objective          30
Ceiling_Vis               30
JCS_NR                    30
Route_Pack                30
Maneuver                  30
Pass                      30
Angle                     30
Altitude                  30
Airspeed                  30
Mission_Phase             30
Where_Hit                 30
Fire_Observed             30
Hit_Country               30
Hit_Longitude             30
Hit_Latitude              30
Loss_Country              30
Loss_Longitude            30
Loss_Latitude             30
Defense_Type              30
Pilot_Hit                 30
Pilot_Rank                30
Pilot                     30
Pilot_Egress              30
Pilot_Status              30
Pilot_Condition           30
Pilot_Recovered           30
Co_Pilot_Nav_Rank         30
Co_Pilot_Nav              30
Co_Pilot_Nav_Egress       30
Co_Pilot_Nav_Status       30
Co_Pilot_Nav_Condition    30
Co_Pilot_Recovered        30
dtype: int64

In [178]:
# New data frame will just be rows with data
usaf_df = usaf_df.loc[usaf_df['Crash_Date'] != '']
usaf_df

,Crash_Date,Crash_Time,Aircraft_Type,Aircraft_SN,Base,Wing,Squadron,Call_Sign,Operations_Code,Mission_Type,...,Pilot_Egress,Pilot_Status,Pilot_Condition,Pilot_Recovered,Co_Pilot_Nav_Rank,Co_Pilot_Nav,Co_Pilot_Nav_Egress,Co_Pilot_Nav_Status,Co_Pilot_Nav_Condition,Co_Pilot_Recovered
0,620202,_,C-123B,564370,TSN,464TCW,_,_,IC,,...,Crash,KIA,_,_,Capt,Larsen R. D.,Crash,KIA,_,_
1,620211,_,SC-47A,4315732,BHA,_,4400CCTS,_,IC,,...,Crash,KIA,_,_,Capt,Hartson S. G.,Crash,KIA,_,_
2,620613,_,T-28B,0,_,_,_,_,IC,,...,_,Recovered,Uninjured,_,u,_,_,_,_,_
3,620828,_,T-28B,538376,_,_,_,_,IC,,...,_,KIA,_,_,Capt,_,_,_,_,_
4,621015,_,U-10,625909,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Foxx R. L.,Crash,KIA,_,_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,730504,1020Ds,A-7D,71000305,KRT,388TFW,3TFS,Philo 0,FD,,...,Ejection,Recovered,Injured,USAF Helo,1Lt,_,_,_,_,_
1602,730525,0812D,A-7D,700945,KRT,354TFW,35TFS,Rummy 0,FD,,...,Crash,KIA,_,_,Capt,_,_,_,_,_
1603,730526,0510D,F-4D,650645,UBN,8TFW,308TFS,Wolf 0,FD,,...,Ejection,Recovered,Minor injuries,_,Maj,Hubbard W. A.,Ejection,Recovered,Minor injuries,_
1604,730616,0210D,F-111A,670111,TKL,474TFW,_,_,_,,...,Ejection,Recovered,_,_,u,u,Ejection,Recovered,_,_
1605,730616,0605D,F-4E,670374,UBN,8TFW,_,_,FD,,...,Crash,MIA,_,_,Capt,Smallwood J. J.,Crash,MIA,_,_

In [179]:
# Removing '0' from the Aircraft_SN column
usaf_df = usaf_df[usaf_df["Aircraft_SN"] != "0"]
usaf_df.head(20)

,Crash_Date,Crash_Time,Aircraft_Type,Aircraft_SN,Base,Wing,Squadron,Call_Sign,Operations_Code,Mission_Type,...,Pilot_Egress,Pilot_Status,Pilot_Condition,Pilot_Recovered,Co_Pilot_Nav_Rank,Co_Pilot_Nav,Co_Pilot_Nav_Egress,Co_Pilot_Nav_Status,Co_Pilot_Nav_Condition,Co_Pilot_Recovered
0,620202,_,C-123B,564370,TSN,464TCW,_,_,IC,,...,Crash,KIA,_,_,Capt,Larsen R. D.,Crash,KIA,_,_
1,620211,_,SC-47A,4315732,BHA,_,4400CCTS,_,IC,,...,Crash,KIA,_,_,Capt,Hartson S. G.,Crash,KIA,_,_
3,620828,_,T-28B,538376,_,_,_,_,IC,,...,_,KIA,_,_,Capt,_,_,_,_,_
4,621015,_,U-10,625909,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Foxx R. L.,Crash,KIA,_,_
5,621016,_,T-28B,538365,_,_,_,_,IC,,...,Ejection,Recovered,Minor injuries,_,Capt,_,_,_,_,_
6,621105,_,RB-26B,4435530,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Tully W. B.,Crash,KIA,_,_
7,630203,_,B-26B,4435692,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Bartley J. P.,Crash,KIA,_,_
8,630206,_,RB-26B,4435507,_,_,_,_,IC,,...,Crash,KIA,_,_,Maj,Johnson J. E.,Ejection,Recovered,Uninjured,_
9,630408,_,B-26B,4435525,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Campaigne J. A.,Crash,KIA,_,_
10,630627,_,T-28B,538375,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,u,Crash,KIA,_,_
12,630816,_,B-26B,4434681,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Bedal A. E.,Crash,KIA,_,_
13,630902,_,B-26B,4434682,_,_,_,_,IC,,...,_,KIA,_,_,Capt,McKinney N. B.,_,KIA,_,_
14,630910,_,T-28B,538367,_,_,_,_,IC,,...,Crash,Recovered,Major injuries,u Helo,Capt,_,_,_,_,_
15,631008,_,T-28B,538373,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,u,Crash,KIA,_,_
16,631024,_,C-123,564385,TSN,315TCW,_,_,IC,,...,Crash,KIA,_,_,Capt,Brown G. R.,Crash,KIA,_,_
17,631124,_,B-26B,4435703,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Lielmanis A. K.,Crash,KIA,_,_
18,631206,_,B-26B,4435782,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Gorton T. F.,Crash,KIA,_,_
19,640114,_,B-26B,4435566,BHA,34TASG,1ACS,_,IC,,...,Crash,KIA,_,_,Maj,Hickman V. J.,Crash,KIA,_,_
20,640114,_,T-28D,538372,_,_,_,_,IC,,...,Crashlanded,Recovered,Minor injuries,_,Capt,u,Crashlanded,Recovered,Uninjured,_
21,640218,_,T-28,538369,_,_,_,_,IC,,...,Crashlanded,Recovered,Uninjured,_,u,u,Crashlanded,Recovered,Uninjured,_

In [180]:
# Convert aircraft serial number to integer
usaf_df = usaf_df.astype({"Aircraft_SN" : 'int'})

In [181]:
# Check that conversion worked
aircraft_sn_datatype = usaf_df.dtypes["Aircraft_SN"]
print(f"Aircraft serial numbers are now data type: '{aircraft_sn_datatype}'")

Aircraft serial numbers are now data type: 'int64'

In [182]:
# Convert columns 'Pass', 'Angle', 'Altitude', 'Airspeed' to integers
usaf_df = usaf_df.astype({"Pass":'int', "Angle":'int', "Altitude":'int', "Airspeed":'int'})

In [183]:
# Convert Crash_Date to datetime data type
usaf_df["Crash_Date"] = pd.to_datetime(usaf_df["Crash_Date"])

In [184]:
usaf_df.head()

,Crash_Date,Crash_Time,Aircraft_Type,Aircraft_SN,Base,Wing,Squadron,Call_Sign,Operations_Code,Mission_Type,...,Pilot_Egress,Pilot_Status,Pilot_Condition,Pilot_Recovered,Co_Pilot_Nav_Rank,Co_Pilot_Nav,Co_Pilot_Nav_Egress,Co_Pilot_Nav_Status,Co_Pilot_Nav_Condition,Co_Pilot_Recovered
0,2062-02-02,_,C-123B,564370,TSN,464TCW,_,_,IC,,...,Crash,KIA,_,_,Capt,Larsen R. D.,Crash,KIA,_,_
1,2062-02-11,_,SC-47A,4315732,BHA,_,4400CCTS,_,IC,,...,Crash,KIA,_,_,Capt,Hartson S. G.,Crash,KIA,_,_
3,2062-08-28,_,T-28B,538376,_,_,_,_,IC,,...,_,KIA,_,_,Capt,_,_,_,_,_
4,2062-10-15,_,U-10,625909,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Foxx R. L.,Crash,KIA,_,_
5,2062-10-16,_,T-28B,538365,_,_,_,_,IC,,...,Ejection,Recovered,Minor injuries,_,Capt,_,_,_,_,_

In [185]:
# Correct Crash_Date years
usaf_df["Crash_Date"] = usaf_df["Crash_Date"] - pd.DateOffset(years=100)

In [186]:
# Confirm correction
usaf_df.head()

,Crash_Date,Crash_Time,Aircraft_Type,Aircraft_SN,Base,Wing,Squadron,Call_Sign,Operations_Code,Mission_Type,...,Pilot_Egress,Pilot_Status,Pilot_Condition,Pilot_Recovered,Co_Pilot_Nav_Rank,Co_Pilot_Nav,Co_Pilot_Nav_Egress,Co_Pilot_Nav_Status,Co_Pilot_Nav_Condition,Co_Pilot_Recovered
0,1962-02-02,_,C-123B,564370,TSN,464TCW,_,_,IC,,...,Crash,KIA,_,_,Capt,Larsen R. D.,Crash,KIA,_,_
1,1962-02-11,_,SC-47A,4315732,BHA,_,4400CCTS,_,IC,,...,Crash,KIA,_,_,Capt,Hartson S. G.,Crash,KIA,_,_
3,1962-08-28,_,T-28B,538376,_,_,_,_,IC,,...,_,KIA,_,_,Capt,_,_,_,_,_
4,1962-10-15,_,U-10,625909,_,_,_,_,IC,,...,Crash,KIA,_,_,Capt,Foxx R. L.,Crash,KIA,_,_
5,1962-10-16,_,T-28B,538365,_,_,_,_,IC,,...,Ejection,Recovered,Minor injuries,_,Capt,_,_,_,_,_

In [187]:
# Check to ensure conversions worked
print(usaf_df.dtypes)

Crash_Date                datetime64[ns]
Crash_Time                        object
Aircraft_Type                     object
Aircraft_SN                        int64
Base                              object
Wing                              object
Squadron                          object
Call_Sign                         object
Operations_Code                   object
Mission_Type                      object
Weapon                            object
Target_Objective                  object
Ceiling_Vis                       object
JCS_NR                            object
Route_Pack                        object
Maneuver                          object
Pass                               int64
Angle                              int64
Altitude                           int64
Airspeed                           int64
Mission_Phase                     object
Where_Hit                         object
Fire_Observed                     object
Hit_Country                       object
Hit_Longitude                     object
Hit_Latitude                      object
Loss_Country                      object
Loss_Longitude                    object
Loss_Latitude                     object
Defense_Type                      object
Pilot_Hit                         object
Pilot_Rank                        object
Pilot                             object
Pilot_Egress                      object
Pilot_Status                      object
Pilot_Condition                   object
Pilot_Recovered                   object
Co_Pilot_Nav_Rank                 object
Co_Pilot_Nav                      object
Co_Pilot_Nav_Egress               object
Co_Pilot_Nav_Status               object
Co_Pilot_Nav_Condition            object
Co_Pilot_Recovered                object
dtype: object

In [188]:
# Exporting to csv
usaf_df.to_csv('Vietnam_USAF_Losses_Cleaned_Data.csv', index=False)

In [189]:
from sqlalchemy import create_engine
from config import db_password

In [190]:
# Code to create connection to PostgreSQL database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Capstone_Project"

In [191]:
# Create database engine
engine = create_engine(db_string)

In [192]:
# Saving usaf_df to SQL table
usaf_df.to_sql(name='usaf_table', con=engine)

### Creation of second dataframe for other web source.

In [ ]:
# Import our second dataset (from Vietnamairlosses.com).
## The original website I found but detailed info in paragraph form so just scraped the summary page to use for potential use
### as a second table for info like base name, etc.
file_path = "Resources/Raw/Vietnam_All_Fixedwing_Losses_Raw_Data.csv"
fixedwing_df = pd.read_csv(file_path)
fixedwing_df.head()

In [ ]:
# Breaking the dataframe into columns
fixedwing_df = fixedwing_df['All_Info'].str.split(':|;', expand=True)

fixedwing_df.head()

In [ ]:
# Renaming columns
fixedwing_df.columns=["Crash_Date", "Aircraft_Type", "Aircraft_SN", "Service", "Military_Unit", "Base"]

fixedwing_df.head()

In [ ]:
# Cleaning up serial number so it matches format of the aviation archaeology website (no # or - ).
fixedwing_df["Aircraft_SN"] = fixedwing_df["Aircraft_SN"].str.replace("Ser","")\
    .str.replace("#","")\
    .str.replace("-","")\
    
fixedwing_df.head()

In [ ]:
# Export this other dataframe to its own csv
fixedwing_df.to_csv('Vietnam_All_Fixedwing_Losses_Data.csv', index=False)

### Probably will need to do more data cleaning, but can connect the two dataframes to PostgreSQL at this point.